Repository TamirisCss/club-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

fix: add extends directorie
  tsconfig.json
Due: none

feat: change global styles and add Poppins font
  public/index.html
  src/index.css
Due: none

fix: add eslint rules, include babel.config and delete files
  .eslintrc.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/logo.svg
  tsconfig.json
Due: git add ., npm eslint --ext .tsx --fix

fix: add parser eslint typescript
  .eslintrc.json
Due: none

feat: add Header Component
  .eslintrc.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/header/header.component.tsx
  src/components/header/header.style.css
Due: git add ., npm eslint --ext .tsx --fix

feat: add HomePage Component and install react-router-dom
  package-lock.json
  package.json
  src/App.tsx
  src/pages/home/home.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add env config file
  .gitignore
  src/config/env.config.ts
Due: npm eslint --ext .ts --fix, git add .

feat: add Category type
  src/types/category.types.ts
Due: npm eslint --ext .ts --fix, git add .

feat: add Categories Component
  package-lock.json
  package.json
  src/categories/categories.component.tsx
  src/categories/categories.style.css
  src/pages/home/home.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add Category Item component
  src/components/categories/categories.component.tsx
  src/components/categories/categories.style.css
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.style.css
  src/pages/home/home.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

style: change class name
  src/components/categories/categories.style.css
Due: none

fix: change div to fragment
  src/pages/home/home.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: show Category Item for each Category
  src/components/categories/categories.component.tsx
  src/components/category-item/category-item.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add Theme colors file
  src/theme/theme.colors.ts
Due: npm eslint --ext .ts --fix, git add .

refactor: add Styled Components
  package-lock.json
  package.json
  src/components/categories/categories.component.tsx
  src/components/categories/categories.style.css
  src/components/categories/categories.style.ts
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.style.ts
  src/components/header/header.component.tsx
  src/components/header/header.style.css
  src/components/header/header.style.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add initial Login, Login stylesand Login Route
  src/App.tsx
  src/components/header/header.component.tsx
  src/components/header/header.style.ts
  src/pages/login/login.page.tsx
  src/pages/login/login.style.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add Custom Button component
  src/components/custom-button/custom-button.component.tsx
  src/components/custom-button/custom-button.style.ts
  src/pages/login/login.page.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add Custom Input component
  src/components/custom-input/custom-input.component.tsx
  src/components/custom-input/custom-input.style.ts
  src/pages/login/login.page.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

fix: fix button component
  src/components/custom-button/custom-button.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add React Hook Form validation to Login Page and Custom Input
  package-lock.json
  package.json
  src/components/custom-input/custom-input.component.tsx
  src/pages/login/login.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add error message to Login Page
  package-lock.json
  package.json
  src/components/input-error-message/input-error-message.component.tsx
  src/components/input-error-message/input-error-message.style.ts
  src/pages/login/login.page.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add type to password
  src/pages/login/login.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: create Sign up component and add its router
  src/App.tsx
  src/components/header/header.component.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/pages/sign-up/sign-up.style.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add validation to form
  src/pages/sign-up/sign-up.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add typescript interface to LoginPage
  src/pages/login/login.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: check if confirmationPassword is the same as password
  src/pages/sign-up/sign-up.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

chore: add firebase configs
  package-lock.json
  package.json
  src/config/firebase.config.ts
Due: npm eslint --ext .ts --fix, git add .

feat: add scripts to populate firebase db
  src/config/firebase.config.ts
  src/scripts/firestore-script.js
Due: npm eslint --ext .ts --fix, git add .

fix: firebaseConfig
  src/config/firebase.config.ts
  src/scripts/firestore-script.js
Due: npm eslint --ext .ts --fix, git add .

fix: imageUrl path
  src/components/category-item/category-item.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: get categories from firestore db
  src/components/categories/categories.component.tsx
  src/converters/firestore.converters.ts
  src/types/category.types.ts
  src/types/product.types.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: logoClick to navigate to home
  src/components/header/header.component.tsx
  src/components/header/header.style.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

chore: initialize firebase auth
  src/config/firebase.config.ts
Due: npm eslint --ext .ts --fix, git add .

feat: add user account creation
  src/pages/sign-up/sign-up.page.tsx
  src/types/user.types.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add account creation firebase validation
  src/pages/sign-up/sign-up.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add login
  src/pages/login/login.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add auth state listener and signout button
  src/App.tsx
  src/components/header/header.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add login with google
  src/config/firebase.config.ts
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/types/user.types.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

fix: fix children type
  src/components/input-error-message/input-error-message.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add useContext
  src/contexts/user.context.tsx
  src/index.tsx
Due: git add ., npm eslint --ext .tsx --fix

Path conditions:
  npm eslint --ext .ts --fix: any of: *.ts
  git add .: (any of: *.ts) or (any of: *.tsx)
  npm eslint --ext .tsx --fix: any of: *.tsx
