Repository TamirisCss/club-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

.lintstagedrc.json:

{
  "*.ts": ["npm eslint --ext .ts --fix", "git add ."],
  "*.tsx": ["npm eslint --ext .tsx --fix", "git add ."]
}

feat: create selectProductsTotalPrice and selectProductsCount selectors
  src/components/cart/cart.component.tsx
  src/components/header/header.component.tsx
  src/store/reducers/user/cart/cart.reducer.ts
  src/store/reducers/user/cart/cart.selector.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: create actions to remove, increase, decrease and clear products
  src/components/cart-item/cart-item.component.tsx
  src/store/reducers/user/cart/cart.action-types.ts
  src/store/reducers/user/cart/cart.actions.ts
  src/store/reducers/user/cart/cart.reducer.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add reducer to checkout component and delete context provider
  src/components/checkout/checkout.component.tsx
  src/index.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add types to Cart reducer
  src/store/reducers/user/cart/cart.action-types.ts
  src/store/reducers/user/cart/cart.actions.ts
  src/store/reducers/user/cart/cart.reducer.ts
Due: npm eslint --ext .ts --fix, git add .

feat: add redux thunk
  package-lock.json
  package.json
  src/components/categories/categories.component.tsx
  src/store/reducers/category/category.actions.ts
  src/store/store.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix
