Repository TamirisCss/club-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

fix: fix eslint rules
  .eslintrc.json
Due: none

feat: ensure UserContext is updated when onAuthStateChaged
  src/App.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: show links on navBar depending if user is loged in or loged out
  src/components/header/header.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: ensure login and signup pages redirects if user is authenticated
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

fix: navbar path
  src/components/header/header.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add if
  src/pages/login/login.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add initializing state
  src/App.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add firestore converter
  src/App.tsx
  src/converters/firestore.converters.ts
  src/types/user.types.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add loading component
  package-lock.json
  package.json
  src/App.tsx
  src/components/loading/loading.componet.tsx
  src/components/loading/loading.styles.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add loading component to login and signup pages
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add Category context
  src/components/categories/categories.component.tsx
  src/contexts/category.context.tsx
  src/index.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add Explore page and initial Categories Overview component
  src/App.tsx
  src/components/categories-overview/categories-overview.style.ts
  src/components/categories-overview/categories-overwiew.component.tsx
  src/components/header/header.component.tsx
  src/pages/explore/explore.page.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add Category overview component
  src/components/categories-overview/categories-overwiew.component.tsx
  src/components/category-overview/category-overview.component.tsx
  src/components/category-overview/category-overview.style.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add product item component
  src/components/category-overview/category-overview.component.tsx
  src/components/product-item/product-item.component.tsx
  src/components/product-item/product-item.style.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add Loading to Categories overview
  src/components/categories-overview/categories-overwiew.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add Category Details page and component
  src/App.tsx
  src/components/category-details/category-details.component.tsx
  src/components/category-details/category-details.style.ts
  src/components/category-item/category-item.component.tsx
  src/pages/category-details/category-details.page.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add Cart Context
  src/contexts/cart.context.tsx
  src/index.tsx
  src/types/cart.types.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add Cart component
  src/App.tsx
  src/components/cart/cart.component.tsx
  src/components/cart/cart.style.ts
  src/components/header/header.component.tsx
  src/contexts/cart.context.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add button to add products to cart
  src/components/product-item/product-item.component.tsx
  src/components/product-item/product-item.style.ts
  src/contexts/cart.context.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add cart item
  src/components/cart-item/cart-item.component.tsx
  src/components/cart-item/cart-item.style.ts
  src/components/cart/cart.component.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: handle multiple products on cart that have the same id
  src/contexts/cart.context.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: ensure products can be remove from cart
  src/components/cart-item/cart-item.component.tsx
  src/contexts/cart.context.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: ensure product quantity can be increase
  src/components/cart-item/cart-item.component.tsx
  src/contexts/cart.context.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: ensure product can be decrease on cart
  src/components/cart-item/cart-item.component.tsx
  src/contexts/cart.context.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add products total price on cart
  src/components/cart/cart.component.tsx
  src/contexts/cart.context.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add product total amount
  src/components/header/header.component.tsx
  src/contexts/cart.context.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add msg if cart is empty
  src/components/cart/cart.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add checkout page and component
  src/App.tsx
  src/components/cart/cart.component.tsx
  src/components/checkout/checkout.component.tsx
  src/components/checkout/checkout.style.ts
  src/pages/checkout/checkout.page.tsx
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

refactor: organazing imports
  src/components/category-item/category-item.component.tsx
  src/components/category-overview/category-overview.component.tsx
  src/components/checkout/checkout.component.tsx
  src/components/header/header.component.tsx
  src/components/input-error-message/input-error-message.component.tsx
  src/components/product-item/product-item.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

refactor: organazing imports
  src/App.tsx
  src/components/cart-item/cart-item.component.tsx
  src/components/categories-overview/categories-overwiew.component.tsx
  src/components/categories/categories.component.tsx
  src/components/category-details/category-details.component.tsx
  src/index.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add payment confirmation page
  src/App.tsx
  src/components/checkout/checkout.component.tsx
  src/pages/payment-confirmation/payment-confirmation.page.tsx
  src/pages/payment-confirmation/payment-confirmation.style.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

chore: add redux setup
  package-lock.json
  package.json
  src/store/root-reducer.ts
  src/store/store.ts
Due: npm eslint --ext .ts --fix, git add .

chore: add redux provider
  src/index.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add redux to App
  src/App.tsx
  src/store/reducers/user.reducer.ts
  src/store/root-reducer.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add redux to header
  src/components/header/header.component.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: add redux to login and sign up pages
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
Due: git add ., npm eslint --ext .tsx --fix

feat: delete contextProvider
  src/index.tsx
Due: git add ., npm eslint --ext .tsx --fix

refactor: moved user actions to a separate file
  src/App.tsx
  src/components/header/header.component.tsx
  src/store/reducers/user/user.action-types.ts
  src/store/reducers/user/user.actions.ts
  src/store/reducers/user/user.reducer.ts
  src/store/root-reducer.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add separate user actions files and redux types
  src/App.tsx
  src/components/header/header.component.tsx
  src/hooks/redux.hooks.ts
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/store/reducers/user/user.action-types.ts
  src/store/reducers/user/user.actions.ts
  src/store/reducers/user/user.reducer.ts
  src/store/store.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

feat: add Cart Reducer, add product to cart and toggle cart actions
  src/components/cart/cart.component.tsx
  src/components/header/header.component.tsx
  src/components/product-item/product-item.component.tsx
  src/store/reducers/user/cart/cart.action-types.ts
  src/store/reducers/user/cart/cart.actions.ts
  src/store/reducers/user/cart/cart.reducer.ts
  src/store/root-reducer.ts
Due: npm eslint --ext .ts --fix, git add ., npm eslint --ext .tsx --fix

Path conditions:
  npm eslint --ext .ts --fix: any of: *.ts
  git add .: (any of: *.ts) or (any of: *.tsx)
  npm eslint --ext .tsx --fix: any of: *.tsx
